<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django template</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    table {
      border-spacing: 0;
      font-family: roboto;
    }

    thead>tr {
      background-color: #333;
      color: #fff;
    }

    tbody>tr:hover {
      background-color: #ddd !important;
    }

    tbody>tr:nth-child(even) {
      background-color: #eee;
    }
  </style>
</head>

<body>
  <h1>Hello there</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et sequi corporis suscipit quae quo necessitatibus maiores
    dignissimos voluptatibus eveniet, quas sapiente unde. Autem commodi quasi obcaecati, vel rem provident doloribus
    praesentium numquam officiis omnis totam debitis nisi modi aliquid nobis, dolorem odit magni at error id
    dignissimos! Nobis, a quisquam.
  </p>

  <h1>List Of Products</h1>
  <p>A vailable products: {{count}}</p>
  <table>
    <thead>
      <th>Title</th>
      <th>Descrition</th>
      <th>Unit Price</th>
      <th>Inventory</th>
      <th>Last Update</th>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.title }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.unit_price }}</td>
        <td>{{ product.inventory }}</td>
        <td>{{ product.last_update }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>